/Project/testSelection/target/
/Project/testSelection/.idea/
Project/testSelection/selection-method.txt
Project/testSelection/reports/method-null.dot
Project/testSelection/reports/method-null.pdf
Project/testSelection/selection-method.txt
